<div *ngIf="location">

    <h1>{{location.name}}</h1>

    <div class="grid-2">
        <div class="grid-1-of-2">
            <div class="circle"></div>
        </div>
        <div class="grid-2-of-2 row-1">
            <div class="spot-display-text">
                {{remainingSpots}} of {{location.storage[0].spots}} spots remain.
            </div>
            <div>
                Updated xyz minutes ago.
            </div>
        </div>
        <div *ngIf="isCurrentlyAdmin" class="grid-2-of-2 row-2">
                <button> - </button>
                <input 
                    #updateSpotsRemainingInput
                    (keydown.enter)="updateSpotsRemaining(updateSpotsRemainingInput.value)"
                    value="{{location.storage[0].filledSpots}}"
                >
                <button> + </button>
        </div>
    </div>

    <div>
        Are you an admin? Sign in <strong (click)="toggleAdmin()"> here </strong>
    </div>

    <hr>
    <hr>

    <pre> {{location | json}} </pre>
</div>

<div *ngIf="!location">
    <wheel-animation> </wheel-animation>
</div>